html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* scroll only when needed */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

video:fullscreen,
video:-webkit-full-screen,
video:-moz-full-screen {
  object-fit: contain !important;
  background-color: black !important;
  width: 100% !important;
  height: 100% !important;
}